.trailer {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &__video {

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__background {
        height: 100%;
        width: 100%;
        opacity: 50%;

    }

    &__close {
        top: 80px;
        right: 30px;
        position: absolute;
        z-index: 1000;
        cursor: pointer;
        display: none;

    }

    h1 {
        z-index: 1;
        font-size: 3em;
        position: absolute;
        color: #ffffff;
        margin-top: 50px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-shadow: 2px 2px #ffb87a82;
        font-family: 'Bebas Neue', cursive;

    }

    &__playlist {
        position: absolute;
        top: 75%;
        z-index: 1000;

        ul {
            display: flex;
        }


        h2 {
            color: #fff;
            font-size: 1.5em;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-right: 30px;
            display: flex;
            justify-content: center;
        }

        &__video {
            list-style: none;
            cursor: pointer;
            transition: .5s ease;
            margin-bottom: 20px;
            border: 2px solid transparent;

            &__thumb {
                margin-left: 55px;

                &--is-active {
                    border: 2px solid #d2691e;
                    transition: all .1s ease;
                }
            }

            &:hover {
                transform: scale(115%);
            }

            img {
                width: 160px;
                border-radius: 5px;


            }

            h3 {
                color: #fff;
                width: 90%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1023px) {
    .trailer {

        h1 {
            font-size: 2em;
            margin-top: 60px;
        }

        &__close {
            top: 70px;
        }

        &__playlist {
            top: 70%;

            h2 {
                font-size: 1.5em;
                margin-left: 25px;
            }

            &__video {
                margin-left: 10px;


                img {
                    width: 120px;
                }

                h3 {
                    text-align: center;
                    font-size: 1em;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .trailer {

        h1 {
            font-size: 1.5em;
            margin-top: 60px;
        }

        &__close {
            top: 70px;
        }

        &__playlist {
            top: 70%;
            margin-right: 50px;

            h2 {
                font-size: 1em;
                margin-left: 80px;
            }

            &__video {

                img {
                    width: 60px;
                }

                h3 {
                    text-align: center;
                    font-size: .45em;
                    margin-left: 33px;
                }
            }
        }
    }
}